/* font familiy  */
* {
    --dark-color : #19283f;
    --global-color:#33d1cc;
    --btn-color:blue;
    --section-color:#eff7fa;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    list-style: none;
}
.navbar{
    background-color: var(--dark-color);
    border-bottom: 1px solid rgb(113, 113, 113);
    box-shadow: 3px -11px 28px 0 white;
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--global-color);
}
.navbar .navbar-toggler{
    color: white;
    border: 1px solid white;
    font-size: 25px;
}
/* .navbar .navbar-toggler i {
    font-size: 25px;
} */
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--global-color);
}
.navbar .search {
    border-left: 1px solid var(--global-color);
}
.navbar .search i {
    color: var(--global-color);
}
@media (max-width : 991px) {
    .main-btn {
        width: 100%;
    }
}

/* start landing  */

.landing {
    background-color: var(--dark-color);
    height: 100vh;
}


/* start feature  */
.main-title::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 139px;
    background-color: var(--global-color);
    bottom: -19px;
    left: 50%;
    transform: translate(-50%);
}
.row .card  i {
    color: var(--global-color);
    font-size: 75px;
}
.row .card h5 {
    color: rgb(106, 106, 0);
    font-size: 24px;
}

/* start desine  */
.design {
    background-color: var(--section-color);
}
.design ul li {
    padding: 10px ;
    transition: 0.5s;
    margin-right: 1px;
}
.design ul li.active,
.design ul li:hover {
    color: white;
    background-color: var(--btn-color);
}
.design .box {
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.design .box::before {
    content:"Application";
    position: absolute;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px))
}
.row .box:hover::before {
    transform: translateX(0);
}

/* start about us  */
.about-us .title {
    max-width: 500px;
}

.team h4 {
    color: yellow;
    font-size: 25px;
    background-color: var(--global-color);
}


.now {
    color: white;
    background-color: var(--dark-color);
}

.spscripe{
    background-color: yellow;
}
.spscripe h3 {
    flex: 1;
}
.spscripe form input[type="text"]{
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.footer{
    background-color: var(--dark-color);
}
.footer .row  {
    color: #9f9f9f;
}
.footer .copy-right {
    color: #9f9f9f;
}

.footer .copy-right > span {
    color: var(--global-color);
}
.footer .copy-right p span {
    color: yellow;
}


.footer .facebook {
    background-color: #0958bf;
}
.footer .github {
    background-color: black;
}
.footer .youtube {
    background-color: rgb(204, 28, 28);
}
.footer .twitter {
    background-color: var(--global-color);
}
.footer .icons li i {
    color: white;
    font-size: 17px;
    padding: 9px;
    border-radius: 50%;
}